### Node ###
logs
*.log
npm-debug.log*
node_modules/
.sass-cache/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

### Code ###
.settings/
.vscode/

### Webstorm ###
.idea/

### Other ###
.test/
.solution
*.css
.gitignore
package-lock.json
main.css.map
main.css